{
    "TOKEN": "",
    "RSS_FEEDS": [
        "Movies",
        "Downloads",
        "TV Shows"
    ],
    "RSS_PORT": 20232, "NUM_RESULTS": 5, "DEFAULT_CHAT_ID": 000,
    "QBITTORRENT_NOX": {
        "USERNAME": "",
        "PASSWORD": "",
        "API_URL": ""
    },
    "ALLOWED_CHAT_IDS": [
    ],
    "TELEGRAM_API_URL": "",
    "PLEX_TOKEN":"",
    "PLEX_URL":"",
    "MOVIE_PATH": "",
    "SHOW_PATH": ""
}
